<div class="profile">
  <section class="user-box">
    <%= render partial: "user", locals: { user: @user} %>
  </section>
  <section class="bio">
    <h4> Bio </h4>
    <%= @user.bio %>
  </section>
  <button type="button" class="btn btn-primary" >
    <%= link_to "Create new post", new_user_post_path(@user.id), class: "btn btn-primary" %>
  </button>
  <section>
    <% if @posts.nil? %>
      <p>No posts found</p>
    <% elsif @posts.empty? %>
      <p>There are no posts</p>
    <% else %>
      <%= render @posts %>
    <% end %>
  </section>
  <button>
    <%= link_to "See all posts", user_posts_path(@user.id) %>
  </button>
</div>
